<div class="content-wrapper p-0">
    <div class="content-body">
        <div class="card border-dark">
            <div class="card-body">
                <div class="users-list-filter">
                    <div class="row">

                        <div class="col-md-3">
                            <label>Filtrer par :</label>
                            <ng-select
                                    [items]="employeFilters"
                                    [(ngModel)]="selectedFilter"
                                    placeholder="Sélectionnez un filter"
                                    (ngModelChange)="getFilters()"
                                    class="custom-ng-select"
                                    [clearable]="true"
                                    >
                            </ng-select>

                        </div>
                        <div class="col-md-3" *ngIf="selectedFilter=='DEPARTEMENT'">
                            <label>Filtrer par departement:</label>
                            <ng-select
                                    [items]="departements"
                                    [(ngModel)]="filterCriteria.departement"
                                    placeholder="Sélectionnez un département"
                                    (ngModelChange)="getEmployesFiltrer()"
                                    class="custom-ng-select"
                                    [clearable]="true"
                                    >
                            </ng-select>

                        </div>

                        <div class="col-md-3" *ngIf="selectedFilter=='POSTE'">
                            <label>Filtrer par poste:</label>
                            <ng-select
                                    [items]="postes"
                                    bindLabel="name"
                                    bindValue="id"
                                    [(ngModel)]="filterCriteria.poste"
                                    placeholder="Sélectionnez un poste"
                                    (ngModelChange)="getEmployesFiltrer()"
                                    class="custom-ng-select"
                                    [clearable]="true"
                                    >
                            </ng-select>

                        </div>
                        <div class="col-md-3" *ngIf="selectedFilter=='SOCIETE'">
                            <label>Filtrer par societe:</label>
                            <ng-select
                                    [items]="soceites"
                                    bindLabel="name"
                                    bindValue="id"
                                    [(ngModel)]="filterCriteria.societe"
                                    placeholder="Sélectionnez une societe"
                                    (ngModelChange)="getEmployesFiltrer()"
                                    class="custom-ng-select"
                                    [clearable]="true"
                            >
                            </ng-select>

                        </div>

                        <div class="col-md-3" *ngIf="filterCriteria.poste != '' || filterCriteria.departement != '' || filterCriteria.societe != ''">
                            <label>Filtrer par le Nom :</label>
                            <input type="text" class="form-control" placeholder="Nom"
                                   [(ngModel)]="filterCriteria.nom"
                                   (ngModelChange)="getByName()"
                            >
                        </div>
                        <div class="col-md-3 " *ngIf="filterCriteria.poste != '' || filterCriteria.departement != '' || filterCriteria.societe != ''">
                            <label>Filtrer par Matricule :</label>
                            <input type="text" class="form-control" id="matricule" placeholder="Matricule"
                                   [(ngModel)]="filterCriteria.matricule"
                                   (ngModelChange)="getByMatricule()"
                            >
                        </div>


                    </div>
                </div>

            </div>
        </div>

        <div class="card border-black text-center">
            <ngx-datatable
                    [rows]="employeList"
                    [columnMode]="'force'"
                    class="bootstrap core-bootstrap"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="50"
                    [scrollbarH]="true"
                    [limit]="pageSize"
                    [offset]="pageOffset"
                    (page)="onPageChange($event)">

                <ngx-datatable-column name="Matricule" prop="matricule" [width]="150">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            <strong>{{ row.matricule }}</strong>
                        </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nom" prop="nom">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            <strong>{{ row.nom }}</strong>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Prénom" prop="prenom">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            <strong>{{ row.prenom }}</strong>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Email" prop="email">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            <strong>{{ row.coordonnees.email }}</strong>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Societe" prop="societe">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            <strong>{{ row.societeName }}</strong>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Département" prop="departement">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            <strong>{{ row.department.deptName }}</strong>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Poste" prop="poste">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div>
                            <strong>{{ row.poste.intitule }}</strong>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions" [width]="120" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div class="d-flex align-items-center">
                            <div ngbDropdown container="body">
                                <a
                                        ngbDropdownToggle
                                        href="javascript:void(0);"
                                        class="hide-arrow"
                                        id="dropdownBrowserState"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                >
                                    <i data-feather="more-vertical" class="text-primary cursor-pointer mr-50"></i>
                                </a>
                                <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">
                                    <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"
                                    ><i data-feather="file-text" class="mr-50"></i> Details</a
                                    >
                                    <a href="javascript:void(0)" (click)="openEditModal(row,editEmployeeModal)" ngbDropdownItem class="d-flex align-items-center"
                                    ><i data-feather="edit" class="mr-50 text-info"></i> Edite</a>
                                    <a href="javascript:void(0)" (click)="DeleteEmploye(row.id)" ngbDropdownItem class="d-flex align-items-center"
                                    ><i data-feather="archive" class="mr-50 text-danger" ></i> Delete</a
                                    >

                                </div>
                            </div>

                        </div>
                    </ng-template>
                </ngx-datatable-column>
<!--                <ngx-datatable-column name="Actions" [width]="100" [sortable]="false">-->
<!--                    <ng-template let-row="row" ngx-datatable-cell-template>-->
<!--                        <div ngbDropdown container="body">-->
<!--                            <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>-->
<!--                                <span class="cursor-pointer">⋮</span>>-->
<!--                            </button>-->
<!--                            <div ngbDropdownMenu>-->
<!--                                <a (click)="openEditModal(row, editEmployeeModal)" ngbDropdownItem>-->
<!--                                    <span data-feather="edit" class="mr-50"></span> Modifier-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </ng-template>-->
<!--                </ngx-datatable-column>-->
            </ngx-datatable>
        </div>
    </div>
</div>
<ng-template #editEmployeeModal let-modal>
    <div class="modal-header border-0 d-flex justify-content-between align-items-center">
        <h5 class="modal-title text-primary">Modifier Employé</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body container-xl p-0" *ngIf="selectedEmploye">
        <form #editEmployeeForm="ngForm" >
            <app-form-wizard
                    [selectedEmploye]="selectedEmploye"
                    [departements]="departements"
                    [postes]="postes"
                    [societes]="soceites"

            >
            </app-form-wizard>

        </form>
    </div>
</ng-template>

